{% extends "base.html" %} 

{% block title %}Kolombolo - Acervo Digital {% endblock%} 

{% block content %}

<div class="container p-5">
      
    <h1 class="mb-3">Acessibilidade deste site</h1>

    <p>A interface do Acervo Digital da kolombolo-di-piratininga foi construída pensando em facilitar o acesso de todos os usuários, 
    incluindo aqueles que possuem necessidades especiais.</p>
   

    <h2 class="mt-5">Navegação via teclado</h2>

    <p>É possível realizar uma navegação mais rápida pelo <span lang="en">site</span> utilizando as seguintes teclas de atalho:</p>
    <ol>
        <li>Teclando-se ALT + 1, chega-se ao página principal, onde é possível navegar pelas funcionalidades principais</li>
        <li>Teclando-se ALT + 2, chega-se ao campo de busca geral, onde será possível definir os parâmetros para busca de materiais;</li>
        <li>Teclando-se ALT + 9 exibirá esta página listando os recursos de acessibilidade do <span lang="en">site</span>.</li>
    </ol>

    <p>As teclas citadas anteriormente funcionam corretamente nos navegadores Google Chrome e Internet Explorer.</p>
    <p>No caso do navegador Firefox, ao invés de ALT + número, deve-se teclar simultaneamente ALT + SHIFT + número.</p>
    <p>No navegador Opera, as teclas são SHIFT + ESCAPE + número. Teclando SHIFT + ESCAPE, uma janela é aberta com todas as alternativas de ACESSKEY da página. No Firefox e no Opera, ao teclar utilizando suas alternativas de acesso, o usuário vai diretamente para a página proposta; enquanto que no Internet Explorer, basta posicionar o mouse no link para clicar, e, no caso da navegação via teclado, é preciso pressionar ENTER para acessar a página desejada.</p>
    
    <h2 class="mt-5">Descrição da Estrutura do Site</h2>
    <p>O Acervo Digital da kolombolo-di-piratininga está estruturado da seguinte maneira:</p>
    <h3 class="mt-5">Cabeçalho</h3>
    <p>No topo de cada página existem os seguintes elementos:</p>
    <ol>
        <li>Logo da Kolombolo: o logo possuí um link direcionando à página principal do Acervo Digital;</li>
        <li>Menus diversos: links para para navegação e utilização do sistema;</li>
        <li>Barra de busca: barra com um campo de entrada para valores utilizados na busca de materiais.</li>
    </ol>
    
    <h3 class="mt-5">Conteúdo central</h3>
    <p>Esta é a parte do site responsável pela apresentação do conteúdo principal de cada página.</p>

    <h3 class="mt-5">Rodapé</h3>
    <p>No rodapé são apresentados basicamente os logos das nossas mídias sociais.</p>
    
    <h2 class="mt-5">Realização de buscas</h2>
    <p>O Acervo Digital fornece mecanismos de busca para facilitar a localização dos materiais desejados. Exitem campos de busca no cabeçalho de cada página (utilizado para buscas completas)
    e busca refinadas durante a navegação (apresentada nas páginas de comunidades e coleções). O resultado de cada busca é apresentado ao usuário na forma de tabelas.</p>
</div>

{% endblock %}

