{% extends "base.html" %} 

{% block title %} Kolombolo - Área Administrativa{% endblock %} 


{% block content %}
    
<div class="container px-5">

  {% for message in get_flashed_messages() %}
    
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  {% endfor %}

    <h3>Área Administrativa</h3>
   
    <div class="container p-5 mt-4 shadow bg-white rounded">
        <div class="container ">

            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">

              <div class="col mb-4">
                <div class="card bg-light h-100">
                    <div class="card-header">Acervo</div>
                    <div class="card-body">
                      <h5 class="card-title">Gerenciamento Acervo</h5>
                      <p class="card-text">Adicionar, gerenciar e remover acervo. <a href="/acervo-admin">Acessar</a></p>
                    </div>
                </div>
              </div>
              
                <div class="col mb-4">
                    <div class="card bg-light h-100">
                        <div class="card-header">Usuários</div>
                        <div class="card-body">
                          <h5 class="card-title">Gerenciamento Usuários</h5>
                          <p class="card-text">Adicionar, gerenciar e remover usuários da sistema. <a href="/user-admin">Acessar</a></p>
                        </div>
                    </div>
                 </div>
            
                 <div class="col mb-4">
                    <div class="card bg-light h-100">
                        <div class="card-header">Tipos de mídia</div>
                        <div class="card-body">
                          <h5 class="card-title">Gerenciamento Mídia</h5>
                          <p class="card-text">Adicionar, gerenciar e remover tipos de mídias. <a href="/midia-admin">Acessar</a></p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card bg-light h-100">
                        <div class="card-header">Protagonista</div>
                        <div class="card-body">
                          <h5 class="card-title">Gerenciamento Protagonista</h5>
                          <p class="card-text">Adicionar, gerenciar e remover protagonistas. <a href="/protagonista-admin">Acessar</a></p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card bg-light h-100">
                        <div class="card-header">Suporte</div>
                        <div class="card-body">
                          <h5 class="card-title">Gerenciamento Suporte</h5>
                          <p class="card-text">Adicionar, gerenciar e remover tipo de suporte de mídia. <a href="/suporte-admin">Acessar</a></p>
                        </div>
                    </div>
                </div>
                  
            </div>

        </div>

    </div>
</div>

    


{% endblock %}