<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
  
  
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/379aff4380.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css" />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand" accesskey="1" href="/">Kolombolo</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Acervo Digital</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" accesskey="9" href="/acessibilidade">Acessibilidade</a>
            </li>

            
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/admin">Administrativa</a>
              </li>
              {% endif %}
            

            <li class="nav-item">
              {% if current_user.is_authenticated %}
                <a class="nav-link" href="/logout">Logout</a>
              {% else %}
              <a class="nav-link" href="/login">Login</a>
              {% endif %}
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="post">
            <input class="form-control mr-sm-2" type="input" placeholder="Encontre no Acervo" aria-label="Busca" accesskey="2" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Buscar</button>
          </form>

          
        </div>
      </nav>

      <div class="container bg-white py-5">
        {% block content %}{% endblock %}
      </div>

      <script
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"
      ></script>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <a href="https://www.kolombolo.org/" target="_blank"
                ><img
                  src="{{url_for('static', filename='assets/image/logo_footer.png')}}"
                  alt="logo - Kolombolo"
              /></a>
            </div>

            <div class="col-md-3">
              <h5>Sigam-nos</h5>

              <ul>
                <li class="social-facebook">
                  <a
                    href="https://pt-br.facebook.com/kolombolosp"
                    target="_blank"
                    ><i class="fab fa-facebook fa-lg"></i
                  ></a>
                </li>
                <li class="social-instagram">
                  <a
                    href="https://www.instagram.com/kolombolosp/"
                    target="_blank"
                    ><i class="fab fa-instagram fa-lg"></i
                  ></a>
                </li>
                <li class="social-soundcloud">
                  <a
                    href="https://soundcloud.com/kolombolo-di-piratininga"
                    target="_blank"
                    ><i class="fab fa-soundcloud fa-lg"></i
                  ></a>
                </li>
                <li class="social-youtube">
                  <a href="http://www.youtube.com/kolombolosp" target="_blank"
                    ><i class="fab fa-youtube fa-lg"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              © Kolombolo - 2022. Todos direitos reservados. Caso alguma imagem
              esteja sem o devido crédito, por favor entre em contato
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
