{% extends "base.html" %} 

{% block title %} Área Administrativa - Tipo de Mídias {% endblock %} 

{% block content %}

<div class="container px-5">
    <h3>Tipo de Mídia</h3>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mídias</li>
      </ol>
    </nav>

    <div class="container pr-5">
        <a class="btn btn-primary float-right" href="{{url_for('midia')}}">Adicionar</a>
        
    </div>

    <div class="container p-5">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th  class="text-center" colspan="2" scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              
                {% for midia in midias %}
                    <tr>
                        <th scope="row">{{ midia.id }}</th>
                        <td>{{ midia.name }}</td>
                        <td class="text-center"><a href="{{url_for('delete_midia', midia_id=midia.id) }}">✘</a></td>
                        <td class="text-center"><a href="{{url_for('edit_midia', midia_id=midia.id)}}">🖊</a></td>
                    </tr>
                     
                {% endfor %}
            
             
            </tbody>
          </table>
    </div>
  </div>
 
{% endblock %}