{% extends "base.html" %} 

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Kolombolo - Acervo Digital {% endblock %}

{% block content %}

<div class="container px-5">

  {% for message in get_flashed_messages() %}
    
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  {% endfor %}

  {% if is_edit: %}
      <h3>Editar Tipo de Mídia</h3>
      {% else: %}
      <h3>Cadastro Tipo de Mídia</h3>
  {% endif %}


  <div class="container p-5">
  {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
  </div>
</div>

{% endblock %}