{% extends "base.html" %} 

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Kolombolo - Suporte{% endblock %}

{% block content %}

<div class="container px-5">
  
{% for message in get_flashed_messages() %}
    
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


{% endfor %}


  {% if is_edit: %}
      <h3>Editar Suporte</h3>
      {% else: %}
      <h3>Cadastro Suporte</h3>
  {% endif %}

  <div class="container p-5">
    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
    
      {{ wtf.form_field(form.name) }}
      {{ wtf.form_field(form.submit, button_map={"submit": "primary"}) }}
      <a href="/suporte-admin" class="btn btn-danger">Cancel</a>
    </form>
  </div>

</div>

{% endblock %}