{% extends "base.html" %} 

{% block title %} Área Administrativa - Suporte {% endblock %} 

{% block content %}

<div class="container px-5">

  {% for message in get_flashed_messages() %}
    
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  {% endfor %}

    <h3>Suporte</h3>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Suporte</li>
      </ol>
    </nav>

    <div class="container p-5 shadow bg-white rounded">

      <a class="btn btn-primary float-right mb-4" href="{{url_for('suporte')}}">Adicionar</a>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th  class="text-center" colspan="2" scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              
                {% for suporte in suportes %}
                    <tr>
                        <th scope="row">{{ suporte.id }}</th>
                        <td>{{ suporte.name }}</td>
                        <td class="text-center"><a class="btn btn-outline-secondary"href="{{url_for('edit_suporte', suporte_id=suporte.id)}}">Editar</a></td>
                        <td class="text-center"><a class="btn btn-outline-danger" href="{{url_for('delete_suporte', suporte_id=suporte.id) }}">Apagar</a></td>
                        
                    </tr>
                     
                {% endfor %}
            
             
            </tbody>
          </table>
    </div>
  </div>
 
{% endblock %}